body {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin: 20px;
 padding: 0;
 background-color:rgba(202, 213, 228, 0.761);
}

h1 {
    text-align:center ;
    color:rgb(53, 53, 101) ;
}

form {
    max-width:600px ;
    margin:auto ;
    background-color:rgba(189, 204, 224, 0.761);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 20px;

}

fieldset {
    border: 2px solid rgb(31, 31, 85);
    border-radius: 8px;
    padding:20px ;
    margin-bottom: 20px;
    background-color: rgba(155, 175, 199, 0.761);
}

legend {
    font-weight: bold;
    text-align: left;
    color:rgb(53, 53, 101) ;

}

label {
    display: block;
    margin-top: 2px;
    color:rgb(3, 3, 94);
}

input,textarea {
    width:calc(100% - 300px) ;
    padding: 8px;
    margin-top:4px ;
    border: 1px solid  rgb(31, 31, 85) ;
    border-radius:4px ;
    box-sizing:border-box ;
}

button{
    border: block;
    width: 30%;
    padding: 1px ;
    background-color:rgb(181, 181, 248) ;
    color: black;
    border:rgb(31, 31, 85) ;
    border-radius: 4px;
    cursor: pointer;
    margin-top:10px;
    font-size:15px ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
background-color: rgb(119, 117, 223) ;
}